{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": [
    "flowtype",
    "prettier"
  ],
  "extends": [
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype"
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  },
  "rules": {
    "no-shadow": "error",
    "eqeqeq": [
      "error",
      "smart"
    ],
    "flowtype/no-types-missing-file-annotation": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "es5"
      }
    ]
  }
}
